@use "sass:color";
@use "../base/variables";
@use "../utils/mixins";

button, .button{
	display: inline-block;
	padding: 6pt 20pt;
	line-height: variables.$line-height;
	border: 1px solid variables.$primary;
	color: variables.$primary;
	font-weight: variables.$normal;
	transition: 0.7s;
	white-space: nowrap;
	cursor: pointer;
	background-color: transparent;
	border-radius: variables.$radius;
	margin-bottom: 1.3em;
	transition: 0.7s;
	text-align: center;
	text-decoration: none;

	&:hover,&:focus{
		outline: 0;
	}

	@include mixins.desktop{
		&:hover{
			border-color: variables.$primary-dark;
			color: variables.$primary-dark;
		}
	}
}

.button__primary{
	background-color: variables.$primary;
	border-color: variables.$primary;
	color: #fff;

	@include mixins.desktop{
		&:hover{
			background-color: variables.$primary-dark;
			border-color: variables.$primary-dark;
			color: #fff;
		}
	}
}

.button__accent{
	background-color: variables.$accent;
	border-color: variables.$accent;
	color: #fff;

	@include mixins.desktop{
		&:hover{
			background-color: color.adjust(variables.$accent,$lightness: -4%);
			border-color: color.adjust(variables.$accent,$lightness: -4%);
			color: #fff;
		}
	}
}

.button__delete{
	background-color: variables.$error;
	border-color: variables.$error;
	color: #fff;

	@include mixins.desktop{
		&:hover{
			background-color: color.adjust(variables.$error,$lightness: -4%);
			border-color: color.adjust(variables.$error,$lightness: -4%);
			color: #fff;
		}
	}
}

.button:disabled{
	opacity: 0.25;
	cursor: default;
	pointer-events:none;
}

// Utility classes
.button--fixed{
	width: 160px;
}

.button--fixed2{
	width: 220px;
}