meter {
  width: 100%;
  height: 1em;      
  background: none;
  background-color: $primary-dark;  
  box-shadow: 0 0.25em 0.25em -0.25em $text inset;
  border: 1px solid $text;
  border-radius: 0.25em;
}

meter::-webkit-meter-optimum-value {
  background: $success;
  box-shadow: 0 0.25em 0.25em -0.25em $text inset;
  background-size: 100% 100%;
}

meter::-moz-meter-bar { /* Firefox Pseudo Class */
  background: $success;
  box-shadow: 0 0.25em 0.25em -0.25em $text inset;
}