<!DOCTYPE html>
<html lang='de'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>LibreChurch - Freie Software für eine freie Kirche</title>
        <meta name="description" content="Wir entwickeln nachhaltige IT-Lösungen für die digitale Kirche von morgen. Zuverlässige Online-Tools für Zusammenarbeit und Kommunikation. Dazu vernetzen wir die Arbeit der weltweiten Open-Source-Community mit der Kirche." />
        <meta name="robots" content="index, follow"/>
        <meta property="og:type" content="website" />
        <meta property="og:title" content="LibreChurch - Freie Software für eine freie Kirche" />
        <meta property="og:url" content="https://www.librechurch.org" />
        <meta property="og:description" content="Wir entwickeln nachhaltige IT-Lösungen für die digitale Kirche von morgen. Zuverlässige Online-Tools für Zusammenarbeit und Kommunikation. Dazu vernetzen wir die Arbeit der weltweiten Open-Source-Community mit der Kirche." />
        <meta property="og:image" content="https://www.librechurch.org/images/screen_sm.png" />
        <meta property="og:locale" content="de_DE" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="LibreChurch - Freie Software für eine freie Kirche" />
        <meta name="twitter:description" content="Wir entwickeln nachhaltige IT-Lösungen für die digitale Kirche von morgen. Zuverlässige Online-Tools für Zusammenarbeit und Kommunikation. Dazu vernetzen wir die Arbeit der weltweiten Open-Source-Community mit der Kirche." />
        <meta name="twitter:image" content="https://www.librechurch.org/images/screen_sm.png" />
        <meta name="twitter:url" content="https://www.librechurch.org" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
    </head>
    <body>
        <!-- Hero(extended) navbar -->
        <div class="navbar navbar--extended">
            <nav class="nav__mobile"></nav>
            <div class="container">
                <div class="navbar__inner">
                    <a href='#' class="navbar__logo">LibreChurch</a>
                    <nav class="navbar__menu">
                        <ul>
                            <li><a href="#project" class="scroll">Vorhaben</a></li>
                            <li><a href="#values" class="scroll">Werte</a></li>
                            <li><a href="#audience" class="scroll">Zielgruppen</a></li>
                            <li><a href="#contact" class="scroll">Ansprechpartner</a></li>
                            <li><a href="#back" class="scroll">Unterstützen</a></li>
                        </ul>
                    </nav>
                    <div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
                </div>
            </div>
        </div>
        <!-- Hero unit -->
        <div class="hero">
            <div class="hero__overlay hero__overlay--gradient"></div>
            <div class="hero__mask"></div>
            <div class="hero__inner">
                <div class="container">
                    <div class="hero__content">
                        <div class="hero__content__inner" id='navConverter'>
                            <h1 class="hero__title">Gemeinschaftlich und unabhängig arbeiten.<br/>Freie Software für eine freie Kirche.</h1>
                            <p class="hero__text">Wir entwickeln nachhaltige IT-Lösungen für die digitale Kirche von morgen. Zuverlässige Online-Tools für Zusammenarbeit und Kommunikation. Dazu vernetzen wir die Arbeit der weltweiten Open-Source-Community mit der Kirche.</p>
                            <a href="#project" class="button hero__button scroll">Mehr erfahren</a>
                            <a href="#back" class="button button__accent scroll">Unterstützen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__sub">
            <a href="#project" class="scroll" id="scrollToNext">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
            </a>
        </div>
        <!-- Steps -->
        <div class="steps landing__section" id="project">
            <div class="container">
                <h2>Was haben wir vor?</h2>
                <p>In unserem Entwicklungsprozess orientieren wir uns an den Anforderungen der Community. An diesen Bausteinen arbeiten wir von Anfang an:</p>
            </div>
            <div class="container">
                <div class="steps__inner">
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_status_update_jjgk.svg" class="step__image" alt="Drei Personen hängen Statusupdates an eine virtuelle Social Media Wall.">
                        </div>
                        <h4>Social Media</h4>
                        <p class="step__text">Eine soziale Plattform für die Kommunikation in Gemeinden und mit Menschen auf der ganzen Welt. Frei und dezentral mit <a href="https://kirche.social/" target="_blank">Mastodon</a>, einem twitterähnlichen Netzwerk.</p>
                    </div>
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_live_collaboration_2r4y.svg" class="step__image" alt="Zwei Personen arbeiten zusammen an einem Dokument.">
                        </div>
                        <h4>Zusammenarbeit</h4>
                        <p class="step__text">Eine Cloud zur gemeinsamen Arbeit an Mails, Dokumenten, Kalendern, Aufgaben und Adressbüchern. Die Daten: Sicher und in der eigenen Infrastruktur mit <a href="https://nextcloud.com/" target="_blank">Nextcloud</a>.</p>
                    </div>
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_chatting_2yvo.svg" class="step__image" alt="Zwei Personen chatten über eine mobile Messenger-Anwendung.">
                        </div>
                        <h4>Messenger</h4>
                        <p class="step__text">Bisher gibt es die Idee, mit einem etablierten Protokoll eine sichere und dezentrale Chat-Lösung zu entwickeln. Für wirklich ökumenische Kommunikation ohne kirchliche Grenzsetzungen.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Values -->
        <div class="steps landing__section" id="values">
            <div class="container">
                <h2>Unsere Werte</h2>
                <p>Wir orientieren uns an Maßstäben, die für Christinnen und Christen wichtig sind – übertragen auf IT-Lösungen:</p>
            </div>
            <div class="container">
                <div class="steps__inner">
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_friendship_mni7.svg" class="step__image" alt="Zwei Personen halten sich in der Natur unter einem Baum auf.">
                        </div>
                        <h4>Digitale Nachhaltigkeit</h4>
                        <p class="step__text"><a href="https://de.wikipedia.org/wiki/Freie_Software" target="_blank">Freie Software</a>, offene Quellcodes und offene Standards ermöglichen <a href="https://digitale-nachhaltigkeit.net/" target="_blank">digitale Nachhaltigkeit</a>. Sie dienen der Bildungsgerechtigkeit und fördern die Entwicklung in der Einen Welt.</p>
                    </div>
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_gdpr_3xfb.svg" class="step__image" alt="Eine Frau winkt mit der EU-Fahne, auf der ein Schloss abgebildet ist.">
                        </div>
                        <h4>Datenschutz</h4>
                        <p class="step__text">Wir entwickeln Lösungen entsprechend den Regelungen der EU-DSGVO und der kirchlichen Datenschutzgesetze. Bei der Entwicklung unserer Lösungen ist Datenschutz Voraussetzung und keine Behinderung.</p>
                    </div>
                    <div class="step">
                        <div class="step__media">
                            <img src="./images/undraw_maintenance_cn7j.svg" class="step__image" alt="Eine Person arbeitet an einem Laptop, der auf mehreren Servern abgestellt ist.">
                        </div>
                        <h4>Digitale Souveränität</h4>
                        <p class="step__text">Lösungen mit Freier Software kannst du jederzeit auf der Infrastruktur deiner Organisation betreiben. Ihre Daten gehören ihr. Wir unterstützen sie, auch bei der Suche nach Partnern für den Betrieb der Infrastruktur.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Expanded sections -->
        <div class="expanded landing__section" id="audience">
            <div class="container">
                <h2>Für wen ist das Projekt?</h2>
                <p>Langfristig sollen Kirchengemeinden und Pfarreien unsere Lösungen mit Hilfe von Partnern aus der Wirtschaft nutzen können. Aktuell richten wir uns an:</p>
            </div>
        </div>
        <div class="expanded landing__section">
            <div class="container">
                <div class="expanded__inner">
                    <div class="expanded__media">
                        <img src="./images/undraw_social_networking_nqk4.svg" class="expanded__image" alt="Ein Mann ist mittels eines Computers in Kontakt mit einer Frau, die auf dem Bildschirm zu sehen ist.">
                    </div>
                    <div class="expanded__content">
                        <h2 class="expanded__title">Netzwerker_innen</h2>
                        <p class="expanded__text">Netzwerkerinnen und Netzwerker sind über Soziale Medien miteinander im Kontakt. Sie tauschen sich dort über ihre Arbeit, ihren Glauben und Gott und die Welt aus.<br/>
                            Sie legen Wert auf freie und unabhängige Kommunikationskanäle und nutzen dazu die  <a href="https://joinmastodon.org/" target="_blank">Mastodon</a>-Instanz, die wir unter der Domain <a href="https://kirche.social" target="_blank">kirche.social</a> bereit stellen.<br/>Sie sind bereit, für ihre Freiheit ggf. auch ein paar Euro zu bezahlen (Link zur Crowdfunding-Plattform folgt).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="expanded landing__section">
            <div class="container">
                <div class="expanded__inner">
                    <div class="expanded__media">
                        <img src="./images/undraw_active_support_6rwo.svg" class="expanded__image" alt="Aus einem Laptop ragt der Oberkörper einer Person heraus. Eine Sprechblase zeigt an, dass sie kommuniziert.">
                    </div>
                    <div class="expanded__content">
                        <h2 class="expanded__title">Unterstützer_innen</h2>
                        <p class="expanded__text">Unterstützerinnen und Unterstützer engagieren sich in besonderer Weise für unser Projekt. Als Mitglieder des <a href="https://luki.org" target="_blank">LUKi e.V.</a> testen sie die Referenzimplementierung des Vereins. Sie geben aktiv Rückmeldung, inwiefern die Lösung ihre gemeindlichen und kirchlichen Anforderungen erfüllt. Sie machen Vorschläge zur Verbesserung und finanzieren das Projekt langfristig durch Mitgliedsbeiträge.<br/>
                            Wir freuen uns, wenn uns Menschen mit einer Behinderung unterstützen, die Lösungen barrierearm zu gestalten.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="expanded landing__section">
            <div class="container">
                <div class="expanded__inner">
                    <div class="expanded__media">
                        <img src="./images/undraw_development_ouy3.svg" class="expanded__image" alt="Drei Personen bauen Elemente eines Graphical User Interfaces zusammen.">
                    </div>
                    <div class="expanded__content">
                        <h2 class="expanded__title">Entwickler_innen</h2>
                        <p class="expanded__text">Entwicklerinnen und Entwickler arbeiten zusammen, um das bestmögliche Ergebnis für die Anwender und Anwenderinnen in Gemeinden und Pfarreien zu erreichen. Wir arbeiten ökumenisch, international und agil.<br/>
                            Wir benötigen Übersetzer_innen, Grafiker_innen, Webentwickler_innen (z.B. HTML5, Javascript, PHP, Java/Jakarta EE), Anwendungsentwickler_innen (z.B. für Android, iOS, Thunderbird) und Systemadministrator_innen (z.B. Linux/LAMP-Stack, Ansible, Debian Package Maintainer).</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="contact landing__section" id="contact">
            <div class="container">
                <h2>Ansprechpartner</h2>
                <p>Du hast Fragen zum Projekt, möchtest uns bei der Umsetzung helfen oder über Neuigkeiten informiert werden?</p>
            </div>
            <div class="container">
                <div class="contact__inner">
                    <div class="contact">
                        <div class="contact__media">
                            <img src="./images/philipp_ruess.jpg" class="contact__image" alt="Portrait von Philipp Ruess">
                        </div>
                        <h4>Philipp Ruess</h4>
                        <p class="contact__description">Vikar</p>
                    </div>
                    <div class="contact">
                        <div class="contact__media">
                            <img src="./images/peter_hormanns.jpg" class="contact__image" alt="Portrait von Peter Hormanns">
                        </div>
                        <h4>Peter Hormanns</h4>
                        <p class="contact__description">Diplom-Informatiker</p>
                    </div>
                    <div class="contact">
                        <div class="contact__media">
                            <img src="./images/johannes_brakensiek.jpg" class="contact__image" alt="Portrait von Johannes Brakensiek">
                        </div>
                        <h4>Johannes Brakensiek</h4>
                        <p class="contact__description">Pfarrer</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2>Kontakt</h2>
                <p>
                    <script>
                        <!--
                        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                        // Random encryption key feature coded by Andrew Moulden
                        // This code is freeware provided these four comment lines remain intact
                        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                        { coded = "QXjjApa@b1fpnERXpER.Ape"
                          key = "sADB2NtmXRq9EdefWOC0pGTQ8IYUvaVlwiF3PnM7oLSjKZyuhx4czgbJ165rHk"
                          shift=coded.length
                          link=""
                          for (i=0; i<coded.length; i++) {
                            if (key.indexOf(coded.charAt(i))==-1) {
                              ltr = coded.charAt(i)
                              link += (ltr)
                            }
                            else {     
                              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                              link += (key.charAt(ltr))
                            }
                          }
                        document.write("Mail an <a href='mailto:"+link+"'>"+link+"</a>.")
                        }
                        //-->
                    </script>
                    <noscript>Sorry, du brauchst Javascript, um die Mailadresse zu entschlüsseln. Kontaktiere uns über <a href="https://luki.org/kontakt/" target="_blank">luki.org</a>.</noscript>
                </p>
            </div>
        </div>

        <!-- Call To Action -->
        <div class="expanded landing__section" id="back">
            <div class="container">
                <div class="expanded__inner">
                    <div class="expanded__media">
                        <img src="./images/undraw_super_thank_you_obwk.svg" class="expanded__image" alt="Eine Frau verteilt mit erhobenen Händen Herzen.">
                    </div>
                    <div class="expanded__content">
                        <h2 class="expanded__title">Spenden</h2>
                        <p class="expanded__text">Wir finanzieren die kostenpflichtigen Dienste über Spenden aus der Community. Ein großer Teil der Kosten wird von den Mitgliedern des <a href="https://luki.org/" target="_blank">LUKi e.V.</a> getragen.<br/>
                            Du kannst uns helfen, die benötigte Infrastruktur zu buchen. Danke für deine Unterstützung!</p>
                        <p class="expanded__text">Derzeitiger Spendenstand (26.02.2019): 1.199,84 € von 1200€ / Jahr
                            <meter value="1199.84" min="0" max="1200">1.199,84 € von 1200€ / Jahr</meter>
                        </p>
                        <p class="expanded__text">Das bisherige Spendenaufkommen haben wir auf 2 Jahre verteilt, also auf die Jahre 2019 und 2020. Über die Fortschritte im Projektverlauf informieren wir im <a href="https://luki.org/" target="_blank">LUKi-Blog</a> und über unseren <a rel="me" href="https://kirche.social/@librechurch" target="_blank">Mastodon-Account.</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta cta--reverse">
            <div class="container">
                <div class="cta__inner">
                    <h2 class="cta__title">Unterstütze das LibreChurch-Projekt</h2>
                    <p class="cta__sub cta__sub--center">Durch deine Mitgliedschaft beim <a href="https://luki.org/" target="_blank">LUKi e.V.</a> oder deine Spende förderst du die Entwicklung:</p>
                    <a href="https://luki.org/verein-luki-e-v/mitgliedschaft/" class="button button__accent" target="_blank">Mitglied werden</a>
                    <span class="button hero__button">Spenden (bald möglich)</span>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer footer--dark">
            <div class="container">
                <div class="footer__inner">
                    <a href='#' class="footer__textLogo">LibreChurch</a>
                    <div class="footer__data">
                        <div class="footer__data__item">
                            <div class="footer__row">
                                LibreChurch ist ein Projekt des <a href="https://luki.org" target="_blank" class="footer__link">LUKi e.V. –<br/>Linux User im Bereich der Kirchen</a>
                            </div>
                            <div class="footer__row">
                                <a href="https://luki.org/impressum/" target="_blank" class="footer__link">Impressum</a> | <a href="https://luki.org/impressum/datenschutz/" target="_blank" class="footer__link">Datenschutz</a>
                            </div>
                            <div class="footer__row">
                                Inhaltlich verantwortlich: Johannes Brakensiek, Südseestr. 4, 45357 Essen
                            </div>
                        </div>
                        <div class="footer__data__item">
                            <div class="footer__row">
                                <a href="https://twitter.com/lukiev" target="_blank" class="footer__link">Twitter</a>
                            </div>
                            <div class="footer__row">
                                <a rel="me" href="https://kirche.social/@librechurch" class="footer__link">Mastodon</a>
                            </div>
                            <div class="footer__row">Created with Open Sources from <a href="https://evie.undraw.co/" target="_blank" class="footer__link">Evie Theme</a>.
                            </div>
                            <div class="footer__row">
                                &copy; LUKi e.V. 2018
                            </div>
                            <div class="footer__row">
                                <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank"><img src="images/cc-by-sa.png" alt="Logo der Creative Commons Lizenz CC-BY-SA"/></a> <a href="https://www.gnu.org/licenses/fdl.html" target="_blank"><img src="images/gfdl_logo.svg" alt="Logo der GNU FDL Lizenz"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src='<%= asset("js/app.min.js") %>'></script>
    </body>
</html>