<!DOCTYPE html>
<html lang='de'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>LibreChurch - Freie Software für eine freie Kirche</title>
	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
                <a href='/' class="navbar__logo">LibreChurch</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="#">Vorhaben</a></li>
						<li><a href="#">Werte</a></li>
                        <li><a href="#">Zielgruppen</a></li>
                        <li><a href="#">Unterstützen</a></li>
                        <li><a href="#">Team</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">Gemeinschaftlich und unabhängig arbeiten.<br/>Freie Software für eine freie Kirche.</h1>
						<p class="hero__text"> Wir entwickeln nachhaltige IT-Lösungen für die digitale Kirche von Morgen. Zuverlässige Online-Tools für Zusammenarbeit und Kommunikation. Dazu vernetzen wir die Arbeit der weltweiten Open-Source-Community mit der Kirche.</p>
						<a href="#" class="button button__accent">Unterstützen</a>
						<a href="#" class="button hero__button">Mehr erfahren</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Was haben wir vor?</h2>
			<p>In unserem Entwicklungsprozess orientieren wir uns an den Anforderungen der Community. An diesen Bausteinen arbeiten wir von Anfang an:</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_status_update_jjgk.svg" class="step__image">
					</div>
					<h4>Social Media</h4>
					<p class="step__text">Eine soziale Plattform für die Kommunikation in Gemeinden und mit Menschen auf der ganzen Welt. Frei und dezentral mit Mastodon.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_live_collaboration_2r4y.svg" class="step__image">
					</div>
					<h4>Zusammenarbeit</h4>
					<p class="step__text">Eine Cloud zur gemeinsamen Arbeit an Mails, Dokumenten, Kalendern, Aufgaben und Adressbüchern. Die Daten: Sicher und in der eigenen Infrastruktur mit Nextcloud.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_chatting_2yvo.svg" class="step__image">
					</div>
					<h4>Messenger</h4>
					<p class="step__text">Bisher gibt es die Idee, mit einem etablierten Protokoll eine sichere und dezentrale Chat-Lösung zu entwickeln. Für wirklich ökumenische Kommunikation ohne kirchliche Grenzsetzungen.</p>
				</div>
			</div>
		</div>
	</div>
    <!-- Values -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Unsere Werte</h2>
			<p>Wir orientieren uns an Maßstäben, die für Christinnen und Christen wichtig sind – übertragen auf IT-Lösungen:</p>
		</div>
		<div class="container">
			<div class="steps__inner">
                <div class="step">
					<div class="step__media">
						<img src="./images/undraw_friendship_mni7.svg" class="step__image">
					</div>
					<h4>Digitale Nachhaltigkeit</h4>
					<p class="step__text">Freie Software, offene Quellcodes und offene Standards ermöglichen digitale Nachhaltigkeit. Sie dienen der Bildungsgerechtigkeit und fördern die Entwicklung in der Einen Welt.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_gdpr_3xfb.svg" class="step__image">
					</div>
					<h4>Datenschutz</h4>
					<p class="step__text">Wir entwickeln Lösungen entsprechend den Regelungen der EU-DSGVO und der kirchlichen Datenschutzrechte. Bei der Entwicklung unserer Lösungen ist Datenschutz Voraussetzung und keine Behinderung.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_maintenance_cn7j.svg" class="step__image">
					</div>
					<h4>Digitale Souveränität</h4>
					<p class="step__text">Lösungen mit freier Software können Sie jederzeit auf Ihrer eigenen Infrastruktur betreiben. Ihre Daten gehören Ihnen. Wir unterstützen Sie, auch bei der Suche nach Partnern für den Betrieb der Infrastruktur.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<h2>Für wen ist das Projekt?</h2>
			<p>Langfristig sollen Kirchengemeinden und Pfarreien unsere Lösungen mit Hilfe von Partnern aus der Wirtschaft nutzen können. Aktuell richten wir uns an:</p>
		</div>
    </div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_super_thank_you_obwk.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Spenden</h2>
                    <p class="expanded__text">Wir arbeiten ehrenamtlich und finanzieren die kostenpflichtigen Dienste über Spenden aus der Community. Ein großer Teil der Kosten wir von den Mitgliedern des LUKi e.V. getragen.<br/>
                    Du kannst uns helfen, die benötigte Infrastruktur zu buchen. Danke für deine Unterstützung!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Unterstütze das LibreChurch-Projekt</h2>
				<p class="cta__sub cta__sub--center">Durch deine Mitgliedschaft beim LUKi e.V. oder deine Spende förderst du die Entwicklung:</p>
				<a href="#" class="button button__accent">Mitglied werden</a>
                <a href="#" class="button hero__button">Spenden</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href='/' class="footer__textLogo">LibreChurch</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
						</div>
						<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						</div>
						<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for the support
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a href="/additional" class="footer__link">MIT license</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src='<%= asset("js/app.min.js") %>'></script>
</body>
</html>