@use "../base/variables";

.cta{
	background: linear-gradient(to right, variables.$primary, variables.$secondary);
	color: #fff;
	padding: 48pt 0;
	text-align: center;
}

.cta--reverse{
	background: linear-gradient(to left, variables.$primary, variables.$secondary);
}

.cta--plain{
	background: variables.$primary;
}

.cta--secondary{
	background: variables.$secondary;
}

.cta__title{
	color: inherit;
}

.cta__sub{
	opacity: 0.85;
	max-width: 58ch;
	margin: 16pt auto 24pt auto;
	

	&--center{
		text-align: center;
	}
}