@use "sass:color";
@use "../base/variables";
@use "../utils/mixins";

.footer{
	background-color: variables.$background;
	padding: 36pt 0;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@include mixins.tablet{
		flex-direction: row;
	}
}

.footer__textLogo{
	flex-shrink: 0;
	padding-right: 16pt;
	display: block;
	cursor: pointer;
	color: variables.$primary;
	font-size: 1.225rem;
	min-width: 33%;
	margin-bottom: 1.5rem;

	@include mixins.tablet{
		margin-bottom: 0;
	}
	
	@include mixins.desktop{
		min-width: 25%;
		font-size: 1.325rem;
	}
}

.footer__textLogo img {
    max-width: 5.5em;
}

.footer__data{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	padding-top: 0.25rem;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 0.9rem;

	@include mixins.desktop{
		flex-wrap: nowrap;
		flex-direction: row;
	}
}

.footer__data__item{
	padding-bottom: 0.5rem;
	display: inline-block;
	margin-bottom: 8pt;
    
    @include mixins.desktop {
        max-width: 50%;
    }
}

.footer__link{
	color: variables.$primary;
	border-bottom: 1px dotted variables.$primary;
	padding-bottom: 1pt;
	transition: 0.7s;

	@include mixins.desktop{
		&:hover{
			color: #fafafa;
			border-color: #fafafa;
		}
	}
}

.footer__row{
	margin-bottom: 8pt;
}

.footer__row img {
    max-height: 31px;
}

/*--- Modifiers---*/
.footer--dark{
	background-color: variables.$background-dark;

	.footer__textLogo{
		color: #fff;
	}
	
	.footer__inner{
		color: color.adjust(#fff,$lightness: -15%);
	}

	.footer__link{
		color: color.adjust(#fff,$lightness: -15%);
		border-color: color.adjust(#fff,$lightness: -15%);

		@include mixins.desktop{
			&:hover{
				color: #fff;
				border-color: #fff;
			}
		}
	}
}
