@use "../base/variables";

.landing__section{
	padding: 24pt 0;
}

.landing__section:nth-child(odd){
	background-color: variables.$background-alt;
	border-top: 1px solid variables.$line;
	border-bottom: 1px solid variables.$line;
}