.steps{
	text-align: center;
	padding: 16pt 0;
}

.steps__inner, .contact__inner{
	@include desktop{
		display: flex;
		justify-content: space-around;
	}
}

.steps__inner a {
	border-bottom: 1px dotted $text;
	padding-bottom: 1pt;
	transition: 0.7s;

	@include desktop{
		&:hover{
			color: $text-dark;
			border-color: $text-dark;
		}
	}
}

.step, .contact{
	padding: 16pt 12pt;
	text-align: center;
	width: 100%;
	border-top: 1px solid $line;
	overflow: auto; 

	&:first-child{
		border-top: none;
	}

	@include desktop{
		border-top: none;
		width: auto;
	}
}

.step__media {
	margin: 16pt 0;

	@include desktop{
		margin: 32pt 0;
	}
}

.contact__media {
 	margin: 4pt 0;

	@include desktop{
		margin: 8pt 0;
	}
}

.step__image, .contact__image{
	max-height: 100px;
	max-width: 222px;
	margin-top: 0pt;
	@include noDragging;

	@include tablet{
		max-width:none;
	}
}

.contact__image {
    border-radius: 50% !important;
    max-height: 150px;
}

.contact h4 {
    padding: 0;
    margin: 0;
}

.step__text, .contact__description{
	max-width: 36ch;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.contact__description {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}