# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 16
    - run: npm ci
    - run: npm run build
    - uses: actions/upload-artifact@v6
      with:
        name: public
        path: public

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v7
      with:
        name: public
        path: public
    - name: Setup ssh keys
      run: |
        mkdir ~/.ssh
        echo '${{ secrets.SSH_PRIVATE_KEY }}' > ~/.ssh/id_rsa
        echo '${{ secrets.SSH_PUBLIC_KEY }}' > ~/.ssh/id_rsa.pub
        chmod 400 ~/.ssh/id_rsa
    - name: Deploy to librechurch.org
      run: rsync -e "ssh -o StrictHostKeyChecking=no" -arvc public/ lki01-librechurchweb@lki01.hostsharing.net:/home/pacs/lki01/users/librechurchweb/doms/librechurch.org/htdocs-ssl